* {
    box-sizing: border-box;
}
.column, .event-column {
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.row:after, .event-row:after{
    content: "";
    display: table;
    clear: both;
}
.table-striped.table-bordered.table-condensed {
    margin-top: 2px; margin-bottom: 2px;
    margin-left: auto; margin-right: auto;
}
.accounts {
    list-style-type: none;
}
.button {
    margin: 5px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
input#name.form-control {
    width:25%;
}
table[id*='_accounts-']  > tbody > tr > td {
    padding-bottom: 2px; text-align: right;
}
.middle-column {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.left-icon-container {
    position: relative;
    left: -27px; height: 0px;
    overflow: visible;
}
.edit-icon {
    display: block;
    visibility: hidden; width: 15px; height: 15px; border-radius: 5px;
}
.right-icon-container {
    position: relative;
    right: -27px; height: 0px;
    overflow: visible;
}
.delete-icon {
    float: right;
    visibility: hidden; width: 15px; height: 15px; border-radius: 5px;
}

tr:hover [class*='-icon'] {
    visibility: visible;
}