{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
  {% if title %}{{ title }} - FinProjX{% else %}FinProjX{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
                <a class="navbar-brand" href="{{ url_for('home') }}">FinProjX</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- <li id="homeTab"><a href="{# url_for('home') #}">Home</a></li> -->
                    <li id="homeTab">Home</li>
                    <!-- <li id="simTab"><a href="{# url_for('simulate') #}">Simulate</a></li> -->
                    <li id="simTab">Simulate</li>
                    <!-- <li id="dataTab"><a href="{# url_for('data') #}">Data Viewer</a></li> -->
                    <li id="dataTab">Data Viewer</li>
                    <!-- <li><a href="{# url_for('add') #}">Add Data</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{%- block scripts -%}{%- endblock -%}