{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{{ super() }}
<link href={{ url_for('static', filename='home.css') }} rel="stylesheet">
<script defer type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script defer type="text/javascript" src={{ url_for('static', filename='home.js') }}></script>
{% endblock %}

{% block app_content %}
<h1>
    Welcome to FinProjX!
</h1>
<br/>
FinProjX is a financial simulation tool which allows you compare
long-term financial strategies side-by-side through interative visualizations!

<hr/>
<h2>
    Accounts
</h2>
<div class="row">
    <div class="column">
        <h3>Savings</h3>
        <br>
        {{ s_table }}
    </div>
    <div class="column">
        <h3>Loans</h3>
        <br>
        {{ l_table }}
    </div>
</div>
<div class="row">
    <div class="column">
        <button id="savingsBtn" class="button">Add Savings Account</button>
    </div>
    <div class="column">
        <button id="loanBtn" class="button">Add Loan</button>
    </div>
</div>

<br style="clear:both">
<hr/>
<h2>
    Events
</h2>
<div class="middle-column">
    {{ e_table }}
    <button id="eventBtn" class="button">Add Event</button>
</div>

<div id="savingsModal" class="modal">
    <div class="modal-content">
        <span id="savingsClose" class="close">&times;</span>
        <br>
        {{ wtf.quick_form(account_form) }}
    </div>
</div>

<div id="loanModal" class="modal">
    <div class="modal-content">
        <span id="loanClose" class="close">&times;</span>
        <br>
        {{ wtf.quick_form(account_form) }}
    </div>
</div>

<div id="eventModal" class="modal">
    <div class="modal-content">
        <span id="eventClose" class="close">&times;</span>
        <br>
        <form class="form form-basic" method="POST" role="form" novalidate>
            {{ event_form.hidden_tag() }}
            {{ wtf.form_errors(event_form, hiddens="only") }}
        
            {{ wtf.form_field(event_form.name) }}
    
            <div>
                {{ event_form.credit_accounts }}
                {{ event_form.add_credit }}
            </div>
            <br/>
            <div>
                {{ event_form.debit_accounts }}
                {{ event_form.add_debit }}
            </div>
            
            <br/>
            {{ event_form.more }} {{ event_form.submit }}
    
        </form>
    </div>
</div>
{% endblock %}