{% import "bootstrap/wtf.html" as wtf %}

{% macro event_form(form, id="eventForm") %}
<form id={{ id }} class="form form-basic" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.name) }}
    <div class="event-row">
        <div class="event-column">
            <label for="credit_accounts">Credit Accounts</label>
            <ul id="credit_accounts" class="accounts">
                {% for account in form.credit_accounts %}
                    <li>
                        {{ account(style="padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; margin-left:auto; margin-right:auto;") }}
                    </li>
                {% endfor %}
            </ul>
            {{ form.add_credit(type='button', style="margin-left:auto; margin-right:auto;")}}
        </div>
        <div class="event-column">
            <label for="debit_accounts">Debit Accounts</label>
            <ul id="debit_accounts" class="accounts">
                {% for account in form.debit_accounts %}
                    <li>
                        {{ account(style="padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; margin-left:auto; margin-right:auto;") }}
                    </li>
                {% endfor %}
            </ul>
            {{ form.add_debit(type='button', style="margin-left:auto; margin-right:auto;")}}
        </div>
    </div>
    <br/>

    <input type="hidden" name="finish" value="">
    <button class='formSubmit' type="submit" onclick="this.form.finish.value=this.value" value="continue">Add More</button>
    <button class='formSubmit' type="submit" onclick="this.form.finish.value=this.value" value="finish">Finish</button>    
</form>
{% endmacro %}

{% macro savings_form(form, id="savingsForm") %}
<form id={{ id }} class="form form-basic" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.account_name) }}
    {{ wtf.form_field(form.rate) }}
    {{ wtf.form_field(form.amount) }}
    <input type="hidden" name="finish" value="">
    <button class='formSubmit' type="submit" onclick="this.form.finish.value=this.value" value="continue">Add More</button>
    <button class='formSubmit' type="submit" onclick="this.form.finish.value=this.value" value="finish">Finish</button>    
    
</form>
{% endmacro %}

{% macro loan_form(form, id="loanForm") %}
<form id={{ id }} class="form form-basic" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.account_name) }}
    {{ wtf.form_field(form.rate) }}
    {{ wtf.form_field(form.principle) }}
    {{ wtf.form_field(form.length) }}
    <input type="hidden" name="finish" value="">
    <button class='formSubmit' type="submit" onclick="this.form.finish.value=this.value" value="continue">Add More</button>
    <button class='formSubmit' type="submit" onclick="this.form.finish.value=this.value" value="finish">Finish</button>    
    
</form>
{% endmacro %}